[Desktop Entry]
Type=Application
Exec=/usr/bin/conky -c $HOME/.dotfiles/conky/monitor.rc
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Conky Monitor
Comment[en_US]=No description
X-GNOME-Autostart-Delay=0
