[Desktop Entry]
Type=Application
Icon=ch.protonmail.protonmail-bridge
Name=Proton Mail Bridge
Exec=flatpak run ch.protonmail.protonmail-bridge --no-window
X-GNOME-Autostart-enabled=true
