[Unit]
Description=Fetch Package Updates
Wants=fetchpkg.timer

[Service]
Type=oneshot
ExecStart=/bin/bash /home/umutsevdi/.dotfiles/bin/fetchpkg -f 2>&1 >> /tmp/fetchpkg.log
User=root

[Install]
WantedBy=multi-user.target
