[Unit]
Description=Fetch Package Updates
After=fetchpkg.target

[Timer]
Unit=fetchpkg.service
OnBootSec=1h
OnUnitActiveSec=2h

[Install]
WantedBy=timers.target
