-- Conky is a monitoring application that is displayed on the desktop
-- @author umutsevdi 

conky.config = {
-- Conky settings
    update_interval = 2,
    override_utf8_locale = true,
    double_buffer = true,
    no_buffers = true,
    draw_shades = false,

-- Window specifications
    own_window = true,
    own_window_class = 'conky',
    own_window_transparent = false,
    own_window_argb_visual = true,
    own_window_argb_value = 200,
    own_window_colour = '#282828',
    own_window_type = 'override',
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    alignment = 'bottom_right',
    gap_x = 35,
    gap_y = 35,

-- Text settings
    use_xft = true,
    xftalpha = 0,
    text_buffer_size = 2048,
    font = 'FiraCode:size=11',
    uppercase = false,
    color0 = '#ebdbb2', -- default fg
    color1 = '#FFCE51', -- selection
    color2 = '#F15D22', -- red
    default_color = '#ffffff',
}
conky.text = [[
${color0}${font FiraCode:bold:size=9}RAM ${font FiraCode:italic:size=9}  ${mem}  ${membar}
${font FiraCode:bold:size=9}DISK${font FiraCode:italic:size=9}  ${fs_used /}   ${fs_bar /}
${font FiraCode:bold:size=9}CPU ${font FiraCode:italic:size=9}  ${cpu}%        ${cpubar}
${font FiraCode:bold:size=9}${color1}Name                PID${alignr}CPU%      Time
${font FiraCode:italic:size=9}${voffset -10}$hr${color0}
${voffset -3}${top name 1} ${top pid 1} ${alignr}${top cpu 1} ${top time 1}
${voffset -3}${top name 2} ${top pid 2} ${alignr}${top cpu 2} ${top time 2}
${voffset -3}${top name 3} ${top pid 3} ${alignr}${top cpu 3} ${top time 3}
${voffset -3}${top name 4} ${top pid 4} ${alignr}${top cpu 4} ${top time 4}
${voffset -3}${top name 5} ${top pid 5} ${alignr}${top cpu 5} ${top time 5}
]];
