-- Conky is a monitoring application that is displayed on the desktop
-- @author umutsevdi 

conky.config = {
-- Conky settings
    update_interval = 2,
    override_utf8_locale = true,
    double_buffer = true,
    no_buffers = true,
    draw_shades = false,

-- Window specifications
    own_window = true,
    own_window_class = 'conky',
    own_window_transparent = true,
    own_window_argb_visual = false,
    own_window_argb_value = 0,
    own_window_colour = '#1c1c1c',
    own_window_type = 'override',
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    alignment = 'bottom_right',
    gap_x = 35,
    gap_y = 35,

-- Text settings
    use_xft = true,
    xftalpha = 0,
    text_buffer_size = 2048,
    font = 'Blex Mono Nerd Font:size=11',
    uppercase = false,
    color0 = '#f0f0f0', -- default fg
    color3 = '#d0d0d0', -- default fg
    color1 = '#5fafd7', -- selection
    color2 = '#af005f', -- red
    default_color = '#808080',
}
conky.text = [[
${color3}${font Blex Mono Nerd Font:bold:size=9.5}RAM ${font Blex Mono Nerd Font:italic:size=9.5}  ${mem}  ${membar}
${font Blex Mono Nerd Font:bold:size=9.5}DISK${font Blex Mono Nerd Font:italic:size=9.5}  ${fs_used /}   ${fs_bar /}
${font Blex Mono Nerd Font:bold:size=9.5}CPU ${font Blex Mono Nerd Font:italic:size=9.5}  ${cpu}%        ${cpubar}
${font Blex Mono Nerd Font:bold:size=9.5}${color1}Name                PID${alignr}CPU%      Time
${font Blex Mono Nerd Font:italic:size=9.5}${voffset -10}$hr${color3}
${voffset -3}${top name 1} ${top pid 1} ${alignr}${top cpu 1} ${top time 1}
${voffset -3}${top name 2} ${top pid 2} ${alignr}${top cpu 2} ${top time 2}
${voffset -3}${top name 3} ${top pid 3} ${alignr}${top cpu 3} ${top time 3}
${voffset -3}${top name 4} ${top pid 4} ${alignr}${top cpu 4} ${top time 4}
${voffset -3}${top name 5} ${top pid 5} ${alignr}${top cpu 5} ${top time 5}
]];
